.container{
    margin: 10px;
    margin-bottom: 20px;
}
.title{
    font-family: Inter;
    font-size:30px;
    margin: 5px;
    font-weight: bold;
}
.subtitle{
    font-family: Inter;
    font-size:small;
    color:grey;
}